.label{
  color:var(--dark-100, #808080);
}

.trigger {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: -4px;
  padding: 5px;

  text-transform: capitalize;

  background: none;
  border: 1px solid var(--dark-300, #4c4c4c);

  &[data-state='open'] .icon {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
  }

  &[data-state='closed'] .icon {
    transition: all 0.3s ease-in-out;
  }



}

.value{
  margin-left: 6px;
  margin-right: 6px;
}

.trigger:focus {
  border: 1px solid var(--info-700, #2f68cc);
  border-radius: 2px;
  outline: none;
}

.trigger:hover {
  background: var(--dark-500, #333);
}

.trigger:disabled {
  opacity: 0.5;
}

.content {
  width: var(--radix-select-trigger-width);

  text-transform: capitalize;
  border: 1px solid var(--dark-300, #4c4c4c);
  border-top: none;
  background: black;
  animation: fadeIn 0.5s ease;
  z-index: 4;
}

.item {
  cursor: pointer;

  display: flex;
  align-items: center;

  height: 36px;
  padding: 12px;
}

.item:focus {
  outline: none;
}

.item:hover {
  background: var(--primary-900, #382766);
}

.icon {
  display: flex;

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
