
.trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  width: 211px;
  height: 36px;
  border: 1px solid var(--dark-300, #4C4C4C);
  text-transform: capitalize;

}

.trigger:focus{
  outline: none;
  border-radius: 2px;
  border: 2px solid var(--info-700, #2F68CC);
}



.viewport{
  border: 1px solid var(--dark-300, #4C4C4C);
  border-top:none;
  text-transform: capitalize;
}


.item {
  display: flex;
  align-items: center;
  width: 209.5px;
  height: 36px;
  padding-left: 5px;
}
.item:focus{
  outline: none;
}

.item:hover {
  background: var(--primary-900, #382766);
}

.downArrow{
    transform: rotate(180deg);
}






