.trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: none;
  margin-bottom: -4px;
  padding: 5px;
  border: 1px solid var(--dark-300, #4c4c4c);
  text-transform: capitalize;
  cursor: pointer;

  &[data-state='open'] .icon {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
  }

  &[data-state='closed'] .icon {
    transition: all 0.3s ease-in-out;
  }




}

.trigger:focus {
  outline: none;
  border-radius: 2px;
  border: 1px solid var(--info-700, #2f68cc);
}

.trigger:hover {
  background: var(--dark-500, #333);
}

.trigger:disabled {
  opacity: 0.5;
}

.content {
  width: var(--radix-select-trigger-width);
  border: 1px solid var(--dark-300, #4c4c4c);
  border-top: none;
  text-transform: capitalize;
  animation: fadeIn 0.5s ease;
}

.item {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 10px;
  cursor: pointer;
}

.item:focus {
  outline: none;
}

.item:hover {
  background: var(--primary-900, #382766);
}
.icon {
  display: flex;
  margin-left: 10px;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
