.default {
  font-family: var(--font-family-primary);
  line-height: var(--line-height-m);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  padding: 6px 24px;
  border: 1px solid var(--color-dark-300, #4c4c4c);
  cursor: pointer;
  background: none;
  text-transform: capitalize;
  color: var(--color-light-100);
  box-sizing: border-box;
  transition: background-color 0.3s ease;

  &:hover {
    border: 1px solid var(--dark-100, #808080);
    background: var(--dark-300, #4c4c4c);
  }

  &[data-state='active'] {
    border: 1px solid var(--primary-500, #8c61ff);
    background: var(--primary-500, #8c61ff);
  }

  &:disabled {
    border: 1px solid var(--dark-300, #4c4c4c);
    background: var(--dark-700, #171717);
    pointer-events: none;
    opacity: 0.5;
  }

  &:active {
    border: 1px solid var(--info-900, #234e99);
    background: var(--dark-700, #171717);
  }

  &:first-child {
    border-radius: 2px 0px 0px 2px;
  }
  &:last-child {
    border-radius: 0px 2px 2px 0px;
  }
}
