.container {
  display: flex;
  flex-direction: column;
}

.wrapper {
  padding: 36px 33px;
  width: 420px;
  min-height: 288px;
}
.title {
  margin-bottom: 45px;
  text-align: center;
}
.questionImg {
  width: 350px;
  height: 120px;
  object-fit: cover;
}
.question {
  align-items: flex-start;
}

.attempts {
  color: var(--dark-100, #808080);
  margin-bottom: 45px;
}
.button {
  width: 81%;
}
