.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 420px;
  padding: 33px 36px 0;
}

.textFieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  margin-top: 27px;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 82%;
  margin-top: 60px;
  margin-bottom: 29px;
}

.description {
  color: var(--color-light-900);
}

.linkSignIn {
  margin-top: 11px;
  color: var(--color-accent-500);
}

.signUpButton{
  margin-bottom: 29px;
}