.cardWrapper {
  display: flex;
  flex-flow: column;
  gap: 24px;
  align-items: center;
  justify-content: center;

  width: 420px;
  margin-top: 96px;
  padding: 33px 36px 29px;

  word-wrap: anywhere;
}

.textFieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  margin-top: 0;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 103%;
  margin-top: 48px;
}

.description {
  margin-top: 24px;
  color: var(--color-light-900);
}

.SignIn {
  margin-top: 23px;
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: var(--color-accent-500);
  text-decoration-line: underline;
}
