.formWrapper {

}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.cover {
  width: 484px;
  height: 119px;
}


.buttonsWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px 36px;
}