.table {
  min-width: 100%;
}

.TableHeader{
  background-color: var(--color-dark-300);
}

.tableHead {
  height: 36px;

  //background-color: var(--color-dark-300);
}

.tableRow {
  border: 1px solid white;
}

.tableBody{
  text-align: center;
  border: 1px solid white;
}

.tableData {
  //border: 1px solid white;
}