.table {
  border-collapse: collapse;
  min-width: 100%;
}

.tableHeader {
  border-collapse: collapse;
  background-color: var(--color-dark-300);
  border: none;
}

.tHead {
  height: 36px;
  border: none;

  //background-color: var(--color-dark-300);
}

.tRow {
  height: 36px;
  border: 1px solid var(--color-dark-700);
}

.tableBody {
  text-align: center;

}

.tData {

}