.nameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.email {
  color: var(--dark-100, #808080);
  margin-bottom: 19px;
}

.button {
}
