.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  margin-bottom: 51px;
}
.containerInput {
  margin-bottom: 19px;
}
.description {
  color: var(--light-900, #c3c1c7);
  font-weight: 400;
  line-height: 24px;
  opacity: 0.5;
  margin-bottom: 65px;
}
.submitButton {
  margin-bottom: 20px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;

  width: 420px;
  padding: 36px 33px;
}
.rememberPassword {
  margin-bottom: 11px;
  text-align: center;
  color: var(--light-900, #c3c1c7);
}
.link {
  text-align: center;
  font-weight: var(--font-weight-bold);
  color: var(--primary-500, #8c61ff);
}
