.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.description {
  color: var(--light-900, #c3c1c7);
  opacity: 0.5;
}
.submitButton {
  width: 83%;
}
