@mixin pagination(
  $all,
  $width,
  $height,
  $text-align,
  $color,
  $backGroundColor,
  $border,
  $borderRadius
) {
  all: $all;

  width: $width;
  height: $height;

  color: var($color);
  text-align: $text-align;

  background-color: $backGroundColor;
  border: 1px solid $border;
  border-radius: $borderRadius;
}

.pageStyle {
  @include pagination(
    unset,
    24px,
    24px,
    center,
    --color-light-100,
    rgb(255 255 255 / 0%),
    rgb(255 255 255 / 0%),
    2px
  );

  align-items: center;
  justify-content: center;

  &:hover {
    color: var(--color-light-100);
    background-color: var(--color-dark-300);
    border-radius: 2px;
  }

  &:focus-visible {
    border: 1px solid var(--color-info-900);
    border-radius: 2px;
  }
}

.activePageStyle {
  @include pagination(
    unset,
    24px,
    24px,
    center,
    --color-dark-900,
    var(--color-light-100),
    var(--color-light-100),
    2px
  );

  &:hover {
    color: var(--color-dark-900);
    background-color: var(--color-light-100);
  }
}

.dotsStyle {
  all: unset;
}

@mixin arrowRotation($value) {
  rotate: $value;
}

.arrowButtonsStyle {
  position: relative;
  top: 6px;
}

.leftArrow {
  @include arrowRotation(270deg);
}

.rightArrow {
  @include arrowRotation(90deg);
}

.paginationWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.selectWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
