


.modalContainer {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top:0;
  left:0;
  z-index: 999;
  transform: scale(1);
}

.content {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;

}
.contentContainer{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  min-height: 300px;
  max-width: 300px;
  word-break: break-word;
  background: rgba(var(--dark-500, 51, 51, 51), 0.3);
}
.title {
  padding: 18px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  min-width: 300px;
  border: 1px solid var(--dark-500, #333);

}

.active{
  transform: scale(0);
}

