
@keyframes fadeIn {
  from {
    transform: translateY(-400%);
  }
  to {
    transform: translateY(0);
  }

}

.modalContainer {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top:0;
  left:0;
  z-index: 999;
  transform: scale(1);
  background: rgba(0,0,0,0.7);

}

.content {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  animation: fadeIn 1s ease;

  animation-fill-mode: forwards;
}
.contentContainer{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  min-height: 300px;
  min-width: 300px;
  max-width: 500px;
  word-break: break-word;
  background: rgba(var(--dark-500, 51, 51, 51), 0.3);
  overflow: auto;
}
.title {
  padding: 18px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  min-width: 300px;
  border: 1px solid var(--dark-500, #333);

}

.modalContainer.active{
  transform: scale(0);
}

