.overlay{
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 50%);
}

.content {
  width: 532px;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 0.7s ease;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 18px 24px;
  border-radius: 2px 2px 0px 0px;
  border: 1px solid var(--dark-500, #333);
  background: var(--dark-700, #171717);
}

.buttonClose{
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: var(--color-dark-300);
  }

  &:active {
    background-color: var(--color-dark-100);
  }
}

@keyframes fadeIn {
  0% {
    top: -100%;
  }
  100% {
    top: 50%;
  }
}


