.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 420px;
  min-height: 348px;
  padding: 33px;
}

.title {
  margin-bottom: 27px;
}

.avatarContainer {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.img {
  cursor: pointer;
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.edit {
  cursor: pointer;

  position: absolute;
  right: 0;

  display: flex;

  width: 24px;
  height: 24px;
  padding: 6px;

  background: rgb(76 76 76 / 100%);
  border-radius: 5px;
}

.defaultAvatar {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 96px;
  height: 96px;

  font-size: 36px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;

  background: white;
  border-radius: 50%;
}

.inputFile {
  position: absolute;
  display: none;
}
