.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 420px;
  min-height: 348px;
  padding: 33px;
}

.title{
  margin-bottom: 27px;
}

.avatarContainer {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  position: relative;

}

.img{
  width: 96px;
  height: 96px;
  border-radius: 50%;
  cursor: pointer;
  cursor: pointer;
}
.edit{
  position: absolute;
  right: 0;
  height: 24px;
  width: 24px;
  display: flex;
  border-radius: 5px;
  padding: 6px;
  background:rgba(76, 76, 76, 1);
  cursor: pointer;

}
