.answer {
  margin-bottom: 12px;
}

.rateTitle {
  margin-bottom: 13px;
}
.answerImg {
  width: 350px;
  height: 120px;
  object-fit: cover;
}
.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 29px;
}
