.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 136px;
  width: 100%;
  border-bottom: 1px solid var(--dark-500, #333);
  background: var(--dark-700, #171717);
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
}



.userInfo{
  display: flex;
  align-items: center;
  gap:14px;

}
.itemUserInfo{
  display: flex;
  min-width: 198px;
  gap:8px;
}



