
.formContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.description{
  color: var(--light-900, #C3C1C7);
  opacity: 0.5;
}
.submitButton{
  width: 83%;
}