.itemUserInfo {
  min-width: 198px;

}

.photo {
  display: flex;
  align-items: center;

  width: 36px;
  height: 36px;

  object-fit: cover;
  border-radius: 36px;
}

.userInfoContainer {
  display: flex;
  flex-direction: column;
}

.dontHaveAvatar {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  font-weight: 700;
  color: black;
  text-transform: uppercase;

  background: white;
  border-radius: 50%;
}

.userName {
}

.email {
  color: var(--dark-100, #808080);
}

.dropDown {
  position: absolute;
  top: 17px;
  left: -90px;
}
