.itemUserInfo {
  min-width: 198px;
}

.photo {
  display: flex;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 36px;
}
.userInfoContainer {
  display: flex;
  flex-direction: column;
}
.dontHaveAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 36px;
  height: 36px;
  font-weight: 700;
  border-radius: 50%;
  cursor: pointer;
  background: white;
  text-transform: uppercase;
}

.userName {
}

.email {
  color: var(--dark-100, #808080);
}

.dropDown {
  position: absolute;
  top: 17px;
  left: -39px;
}
