.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid var(--primary-500, #8c61ff);
  position: relative;
  cursor: pointer;
}

.item:hover:before {
  content: '';
  position: absolute;
  left: -10px;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  flex-grow: 0;
  background: rgba(51, 51, 51, 1);
  border-radius: 50%;
  margin-right: 0.5em;
  z-index: -1;
}

.item:active::after {
  background: var(--primary-900, #382766);
}

.item:focus ::after {
  background: var(--primary-900, #382766);
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--primary-500, #8c61ff);
  animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
