.navLinkStyle{
  display: flex;
  gap: 6px;
  align-items: center;

  margin-bottom: 33px;

  text-decoration: none;
}

.TextFieldFullWith{
  min-width: 1280px;
}

.addCardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-items: center;

  margin-top: 69px;

}